---
---

$code-font-size:                    100% !default;

@import "bootswatch/dist/yeti/variables";
@import "bootstrap/scss/bootstrap";
@import "bootswatch/dist/yeti/bootswatch";

@import "autumn.css";

.dp-navbar-right {
    margin-right: 0.5em;
}

html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#content img {
    @include img-fluid;
    box-shadow: $box-shadow-sm;
}

#content svg {
    margin-bottom: 1em;
}

.lineno {
    margin-right: 0.5em;
}